$blue: #0674ec;
$gray: #eef1f3;
$menu: #333333;
$featuredbg:#eff1f5;
$violet: #7347c1;
$bgcolor: #eff1f5;
$bdnprod:#f6f7fb;
$button: #f1f3f6;
$nprodbut: #747b86;
$border:#ececec;
$bgprice:#e6f1fd;
$bgicon:#7e8fa1;
$red:#ff6a6c;
$green:#62d03b;
$bgarea:#212225;
$yellow: #feb71d;